body {
    background-color: var(--cream);
}

.pizza-club {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pizza-club img {
    width: 350px;
    height: auto;
}

.high {
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
}

.mid {
    margin-top: 60px;
}

.low {
    margin-top: 250px;
}