body {
    display: flex;
    background-color: var(--red);
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/01/59/31/08/360_F_159310820_0nVwY9SSfBiSqiLLcLpLUWn0vUBAUr3K.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: 70px;
}

.login-form {
    background-color: #f4f1eb;
    padding: 40px 60px;
    padding-left: 220px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.6);
    text-align: left;
}

.login-form p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333;
}

.login-form a {
    color: #c0392b;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-img img {
    position: absolute;
    left: -150px;
    top: 51%;
    transform: translateY(-50%);
    width: 365px;
    z-index: 2;
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.8));
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }

    .login-img img {
        position: absolute;
        top: 19%;
        left: 51%;
        transform: translate(-50%, -55%);
        width: 365px;
        z-index: 2;
    }

    .login-form {
        width: 340px;
        height: 520px;
        padding: 40px 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
        top: 65px;
    }
}