.page-wrapper {
    background-image: linear-gradient(rgba(255, 217, 203, 0.7), rgba(255, 217, 203, 0.7)), url('/image/tablecloth.jpg');
    background-color: var(--cream);
    background-size: cover;
    background-attachment: fixed;
}

.page-title {
    text-align: center;    
    font-size: 60px;         
    color: var(--red);      
    font-weight: 700;    
}

.menu-container {
    width: 100%;
    max-width: 1200px;
    margin: 2rem auto; 
    padding: 2rem 3rem;

    background-color: var(--cream);
    border-radius: 15px;
    color: var(--black);
}

.menu-section {
    margin-bottom: 3rem;
    /* padding-left: 3rem;
    padding-right: 3rem; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.menu-section h2 {
    font-size: 2.5rem;
    color: var(--red);
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: 50px;
}

.card-wrapper{

}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 2rem;


}

.card {
    background-color: var(--red); 
    border-radius: 25px;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
}

.card .details {
    opacity: 0; 
    max-height: 0;
    overflow: hidden; 
    margin: 0; 
    
    transition: all 0.4s ease-out; 
}

.card:hover .details {
    opacity: 1; 
    max-height: 100px;
    margin-bottom: 1rem;
}

.card-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 1rem;
}

.card-body h3 {
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    color: var(--cream);
}

.card-body p {
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: var(--cream);
    opacity: 0.9;
}

.price {
    background-color: var(--cream);
    color: var(--green);
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    font-weight: 600;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
}

.card:hover .price {
    background-color: var(--green);
    color: var(--cream);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Beverages */
.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.beverage-slider {
    display: flex;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: var(--red);
    border-radius: 25px;

    scroll-behavior: smooth; 
    overflow-x: hidden;      
}

.slider-btn {
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%); 
    z-index: 10; 

    background-color: rgba(255, 255, 255, 0.8); 
    border: none;
    border-radius: 50%; 
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.slider-btn:hover {
    background-color: var(--green);
}

#prev-btn {
    left: -25px;
}

#next-btn {
    right: -25px; 
}

.beverage-card{
    background-color: transparent;
    padding: 15px;
    text-align: center;
    flex: 0 0 auto;
    width: 160px;
}

.beverage-img{
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.beverage-card p {
    font-size: 1rem;
    color: var(--cream);
    margin-top: -10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.beverage-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
    z-index: 10; 
    padding: auto;
    border-radius: 25px;
    background-color: var(--cream);
    transition: transform 0.3s ease; 
}

.beverage-card:hover p {
    color: var(--red);
    transition: color 0.3s ease;
}

.beverage-card:hover .price {
    background-color: var(--green);
    color: var(--cream);
    transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 992px) {

    .page-wrapper {
        background-attachment: scroll;
    }
    .menu-container {
        padding: 2rem;
    }

    .menu-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .beverage-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .menu-container {
        padding: 1.5rem;
        margin: 1rem auto;
    }
    
    .menu-section h2 {
        font-size: 2rem;
    }

    .menu-grid {
        grid-template-columns: 1fr; 
    }

    .beverage-grid {
        grid-template-columns: repeat(2, 1fr); 
    }

    .beverage-card {
        width: 130px;
    }
}