body {
    display: flex;
    background-color: var(--red);
    height: 100vh;
}

.container {
    position: relative;
    display: inline-block;
    left: 70px;
}

.signUp-form {
  background-color: #f4f1eb;
    padding: 40px 60px;
    padding-left: 220px;
    border-radius: 30px;
    width: 350px;
    position: relative;
    z-index: 1;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    text-align: left;
}

.signUp-form p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333;
}

.signUp-form a {
    color: #c0392b;
    text-decoration: none;
}

.logsignUpin-form a:hover {
    text-decoration: underline;
}

.signUp-img img {
    position: absolute;
    left: -290px;
    top: 49%;
    transform: translateY(-50%);
    width: 600px;
    z-index: 2;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }

    .signUp-img img {
        position: absolute;
        margin-left: 123px;
        margin-top: -350px;
        width: 400px;
        z-index: 2;
        justify-content: center;
        align-items: center;
        transform: rotate(70deg);
    }

    .signUp-form {
        width: 280px;
        height: 450px;
        padding: 40px 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
        top: 65px;
        margin-top: 200px;
        margin-bottom: 130px;
    }
}