
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body {
    display: flex;
    background-color: var(--red);
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/01/59/31/08/360_F_159310820_0nVwY9SSfBiSqiLLcLpLUWn0vUBAUr3K.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logoStart {
    width: 110px;
    margin: 20px 24px;
    height: auto;
    position: absolute;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 70px;
}

.signUp-form {
    background-color: #f4f1eb;
    padding: 40px 60px;
    padding-right: 220px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.6);
    text-align: left;
    animation: slideInLeft 1s ease-out;
    transition: all 0.3s ease;
}

.signUp-form p {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #333;
}

.signUp-form a {
    color: #c0392b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.logsignUpin-form a:hover {
    text-decoration: underline;
    color: #821F06;
}

.signUp-img img {
    position: absolute;
    right: -140px;
    top: 50%;
    transform: translateY(-50%);
    width: 325px;
    z-index: 2;
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.8));
}

.start {
    color: var(--black);
    justify-items: center;
    padding: 20px 24px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
    }

    .signUp-img img {
        display: none;
    }

    .signUp-form {
        padding: 40px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        text-align: center;
        padding-bottom: 30px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}